{% for interface in ldp_interfaces %}
set interfaces {{ interface.name }} unit {{ interface.unit }} family mpls
set protocols ldp interface {{ interface.name }}.{{ interface.unit }}
set protocols mpls interface {{ interface.name }}.{{ interface.unit }}
{% endfor %}
